<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:com/szqd/framework/config/myibatis-config.xml" />
    </bean>



    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mobileLock?characterEncoding=UTF-8" />
        <property name="user" value="root"/>
        <property name="password" value=""/>

    </bean>



    <bean id="myBatisDao" class="com.szqd.framework.persistence.MyBatisDao" >
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

</beans>